/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('https://images.unsplash.com/photo-1476313485064-5d47687ea378');
  background-size: cover;
  background-repeat:no-repeat;
  /*background: #59B1E3;*/
  margin: 15px;
  padding: 15px;
  
}
.navbar_style{
    margin-bottom: 20px;
    /*border:3px solid black;*/


}
.three_col > div {
  border: 5px solid rgb(200,200,200,.3);
  /*height: 200px;
  width: 80%;*/
  background: rgb(255,255,255,.3);

}
.three_col{
    margin-bottom:30px;
}
.readable_text_box {
  display:flex;
  border: 5px solid rgb(200,200,200,.3);
  font: 500 28px arial;
  background: rgb(255,255,255,.3);
  text-align: center;
  align-content: center !important;
}
img {
  display: block;
  width: 90%;
  height: auto;
/*  aspect-ratio:3/2;*/
  overflow:hidden;
  
  max-height: 927px;
/*  max-width: 741px;*/
}
.col-6 {
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  text-align:center;

}
.row{
    margin-bottom:30px;
}
